@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

*{
    font-family: 'Bungee', cursive;
}

main{
  width: 300px;
  height: 300px;
}

.row{
  display: block;
  border-bottom: 3px solid black;
  height: calc(100%/3);
  width: 100%;
  box-sizing: border-box;
}

.row:last-child{
  border-bottom:none;
}

.row section{
  width: calc(100%/3);
  height: 100%;
  float: left;
  border-right: 3px solid black;
  box-sizing: border-box;
  position: relative;
}

.row section:last-child{
  border-right: none;
}

.row section .opt{
  text-align: center;
  font-size: 70px;
  position: absolute;
  top:-40px;
  width: 100%;
  display: none;
}

.row section .circle{
  color: #E36B2C;
  bottom: 10px;
}

.row section .cross{
  color: #02AC66;
  bottom: 10px;
}
